.cabecalhoPrincipal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalhoPrincipal-nav {
    display: flex;
}

.rodapePrincipal-patrocinadores .container {
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
    display: flex;
    width: 70%;
    justify-content: space-around;
    align-items: center;
}

.rodapePrincipal-contatoForm-fieldset {
    display: flex;
}

.rodapePrincipal-navMap-list {
    height: 260px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.conteudoPrincipal-cursos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.conteudoPrincipal-cursos-link {
    width: 23%;
}

.videoSobre .container {
    display: flex;
    text-align: center;
    max-width: 70%;
}

.videoSobre-sobre {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.videoSobre-video {
    flex-grow: 1;
}

.videoSobre-sobre-list {
    flex-grow: 1;
}